[submodule "externals/python/Viessmann_API_InfluxDB_Logger"]
	path = externals/python/Viessmann_API_InfluxDB_Logger
	url = https://github.com/DerZwergGimli/Viessmann_API_InfluxDB_Logger.git
[submodule "externals/docker/container/docker_corn_python"]
	path = externals/docker/container/docker_corn_python
	url = https://github.com/DerZwergGimli/docker_corn_python.git
